node-linker=hoisted
confirm-modules-purge=false
only-built-dependencies[]=@module-federation/nextjs-mf
only-built-dependencies[]=@module-federation/enhanced
only-built-dependencies[]=@swc/core
only-built-dependencies[]=webpack
